/* Just-the-docs overrides and custom styles */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Sen:wght@400;700");

// Variables
$allo-light-yellow: #fff7e9;
$allo-light-green: #cbebe1;

$allo-text-color-light: #4a4a4a;
$allo-text-color-dark: #3a3a3a;

$sidebar-color: $allo-light-yellow;

$link-color: $blue-200;
$nav-child-link-color: $blue-200;

$border-color: #f0f;

$body-text-color: $allo-text-color-light;
$body-heading-color: $allo-text-color-dark;
$code-background-color: $allo-text-color-light;

body {
  font-family: "Open Sans", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    sans-serif;

  color: $allo-text-color-dark;
}

h1,
h2,
h3,
h4,
.text-delta {
  font-family: "Sen", "Segoe UI", sans-serif;
  font-weight: 700;
  letter-spacing: -0.4px;
  color: $allo-text-color-light;
  font-display: optional;
}

.main-content {
  h1 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  h2 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 6px;
  }
  h3 {
    font-size: 18px;
    margin-top: 36px;
    margin-bottom: 6px;
  }
  h4 {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 6px;
  }
}

pre {
  white-space: pre-wrap;
}

code {
  color: #eee;
  border: 0;
  padding: 4px;
}

.nav-list-header {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  h3,
  h4 {
    margin-bottom: 0;
  }
}

/* Sets the selection background color */
*::selection {
  background-color: $allo-light-green;
  color: $grey-dk-200;
}

// Print-only styles.
@media print {
  .side-bar,
  .page-header {
    display: none;
  }
  .main-content {
    max-width: auto;
    margin: 1em;
  }
}
