/*
  Style variable overrides to match Alloverse style

  List of changeable variables:
  https://github.com/pmarsceill/just-the-docs/blob/master/_sass/support/_variables.scss 
*/

$allo-light-yellow: #fff7e9;
$allo-light-green: #cbebe1;

//$body-background-color: $allo-light-yellow;
$sidebar-color: $allo-light-yellow;

$link-color: $blue-200;
$nav-child-link-color: $blue-200;
